.contactForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
  text-align: center;
}

.form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username,
.email,
.message {
  width: max(60%, 300px);
  height: 50px;
  border-radius: 5px;
  border-style: none;
}

.message {
  height: 170px;
}

.submit {
  margin-top: 7%;
  color: white;
  font-weight: 600;
  background-color: #bb86fc;
  font-size: 25px;
  border-style: none;
  border-radius: 30px;
  padding: 10px;
}
.submit:hover {
  background-color: rgb(234, 212, 20);
}

.contactDesc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contactDesc p {
  width: max(60%, 300px);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: justify;
  margin-top: -0.5%;
  margin-bottom: 5vh;
}
