.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryContainer h1 {
  font-size: 50px;
  margin: -0.1% 0 -0.1% 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.galleryContainer h2 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  gap: 10px;
  padding-bottom: 10vh;
}

.videos {
  display: flex;
  padding: 1% 0 1% 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.videoContainer {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
