.heading {
  top: 20%;
  position: absolute;
  width: 100vw;
}

.title {
  font-size: 150px;
  width: 100%;
  text-align: center;
  z-index: -1;
  font-family: "Noto Serif Display";
}

.subtitle {
  font-size: 35px;
  width: 100%;
  margin-top: -8%;
  text-align: center;
  z-index: -1;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.video {
  width: 100%;
  top: 0;
  z-index: -2;
}

.nav {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 30%;
  z-index: 2;
  position: absolute;
  background: rgba(24, 24, 24, 0.7);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(7.3px);
  cursor: pointer;
}

.menuTitle {
  top: -7%;
  margin-left: 2%;
  position: fixed;
  font-size: 70px;
  transform: rotate(270deg);
  z-index: 3;
  cursor: pointer;
}

.fullHeader {
  height: fit-content;
}
