.setListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setlistUl {
  list-style: inside;

  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  background-color: #1e1e1e;
  width: max(40%, 350px);
  border-radius: 10px;
  padding: 3%;
}

.setListContainer h1 {
  font-size: 50px;
}
